<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
<!--      lang="en">-->

<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->


<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!--GENERAL GRID START-->
<!--<div class="container-fluid" style="padding-left: 0px; padding-right: 0px">-->

<h1 class='ggg'>FFFFFFF</h1>
<!--TOP NAVBAR-->
<nav class="navbar navbar-dark bg-dark col-12">
    <h2 class="navbar-brand"></h2>

    <a href="/logout">
        <input type="button" class="btn btn-md active disabled btn-secondary" value="Logout"/>
    </a>
</nav>


<!--MAIN GRID START-->
<div class="flex-fill row bg-light" style="height: 1000px">

    <!--SIDEBAR START-->
    <div class="col-2  bg-white " style="padding-right: 0px">

        <div class=" list-group  bg-white" style="margin-right: auto">

            <a href="/admin" class="list-group-item w list-group-item-action active">Admin</a>
            <a href="/user" class="list-group-item  list-group-item-action">User</a>
        </div>

    </div>
    <!--SIDEBAR END-->

    <!--    MAIN BAR START-->
    <div class="col-10 bg-light text-dark " style="padding-left: 50px; padding-right: 50px">

        <div><h1>Admin information page</h1></div>

        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a href="#userTable" class="nav-link active" role="tab" data-toggle="tab">User Table</a>
            </li>

            <li class="nav-item">
                <a href="#newUser" class="nav-link" role="tab" data-toggle="tab">New User</a>
            </li>

        </ul>


        <div class="tab-content ">

            <div role="tabpanel" class="tab-pane active " id="userTable">
                <div><h4>All users</h4></div>


                <!--        USER TABLE START-->
                <table class="table table-striped bg-white">
                    <!--            UT HEADERS START-->
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                    </thead>
                    <!--            UT HEADERS END-->

                    <tbody class="test1">
                    <!--ТУТ бУДЕТ ДЖАВАСКРИПТ!!!1-->
                    </tbody>
                </table>
                <!--       USER TABLE END-->
            </div>
            <!--             ADD NEW USER  TABLE START-->
            <div role="tabpanel" class="tab-pane fade" id="newUser">

                <div><h4>Add new user</h4></div>

                <div class="container-fluid bg-white">
                    <!--                    Add user form with rows start-->
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <!--                            ADD USER FORM START-->
                            <form role="form" >
                                <!--                                NAME INPUT-->
                                <div class="form-group text-center">

                                    <b for="name">
                                        First name
                                    </b>
                                    <input class="form-control" id="nameInput" required type="text"
                                    />
                                </div>

                                <div class="form-group text-center">

                                    <b for="lastNameInput">
                                        Last name
                                    </b>
                                    <input class="form-control" id="lastNameInput" required type="text"
                                    />
                                </div>

                                <div class="form-group text-center">

                                    <b for="ageInput">
                                        Age
                                    </b>
                                    <input type="number" class="form-control" id="ageInput"
                                    />

                                </div>

                                <div class="form-group text-center">

                                    <b for="emailInput">
                                        Email
                                    </b>
                                    <input class="form-control" id="emailInput" required type="email"
                                    />
                                </div>

                                <div class="form-group text-center">

                                    <b for="passwordInput">
                                        Password
                                    </b>
                                    <input class="form-control" id="passwordInput" required type="password"
                                    />
                                </div>

                                <div class="form-group text-center">
                                    <b for="rolesSelectorInput">
                                        Roles
                                    </b>

                                    <select name="roleId" multiple class="form-control"  id="rolesSelectorInput" style="height: 60px">
                                        <option class="active" value="1">USER</option>
                                        <option value="2">ADMIN</option>
                                    </select>

                                </div>

                                <div class="form-group text-center">
                                    <input type="submit" id="addUserSubmitButton" class="btn btn-success" value="Add user">

                                </div>
                            </form>
                            <!--                            ADD USER FORM END-->
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <!--                    Add user form with rows end-->
                </div>
            </div>
            <!--             ADD NEW USER  TABLE END-->

<!--            EDIT MODAL START-->



            <!--            EDIT MODAL END-->
            <div
                    class="modal fade" id="userUpdateModal" tabindex="-1" role="dialog"
                    aria-labelledby="userUpdateModal" aria-hidden="true">

                <div class="modal-dialog" role="document">
                    <div
                            class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userUpdateModalLabel">Edit user</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form >
                            <div class="modal-body">
                                <!--                    Add user form with rows start-->
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <!--                            ADD USER FORM START-->

                                        <!--                                NAME INPUT-->

<!--                                        <div class="text-center">-->

<!--                                            <b>-->
<!--                                                ID-->
<!--                                            </b>-->
<!--                                            <input disabled th:placeholder="${user.id}" class="form-control" id="idToUpdate"-->

<!--                                                   th:value="${user.id}"/>-->
<!--                                        </div>-->

<!--                                        <div class="text-center">-->

<!--                                            <b>-->
<!--                                                First name-->
<!--                                            </b>-->
<!--                                            <input  class="form-control" id="nameToUpdate" name="name"-->

<!--                                                    required-->
<!--                                                    type="text"-->
<!--                                                    th:value="${user.name}"/>-->
<!--                                        </div>-->

<!--                                        <div class="form-group text-center">-->

<!--                                            <b>-->
<!--                                                Last name-->
<!--                                            </b>-->
<!--                                            <input class="form-control" id="lastNameToUpdate" required-->
<!--                                                   type="text"-->
<!--                                                   name="lastName"-->
<!--                                                   th:value="${user.lastName}"/>-->
<!--                                        </div>-->

<!--                                        <div class="form-group text-center">-->

<!--                                            <b>-->
<!--                                                Age-->
<!--                                            </b>-->
<!--                                            <input type="number" class="form-control" id="ageToUpdate"-->
<!--                                                   name="age"-->
<!--                                                   th:value="${user.age}"/>-->

<!--                                        </div>-->

<!--                                        <div class="form-group text-center">-->

<!--                                            <b for="emailToUpdate">-->
<!--                                                Email-->
<!--                                            </b>-->
<!--                                            <input class="form-control" id="emailToUpdate" required-->
<!--                                                   type="email"-->
<!--                                                   name="email"-->
<!--                                                   th:value="${user.email}"/>-->
<!--                                        </div>-->

<!--                                        <div class="form-group text-center">-->

<!--                                            <b for="passwordToUpdate">-->
<!--                                                Password-->
<!--                                            </b>-->
<!--                                            <input class="form-control" id="passwordToUpdate" required-->
<!--                                                   type="password"-->
<!--                                                   name="password"-->
<!--                                                   th:field="${user.password}"/>-->
<!--                                        </div>-->

<!--                                        <div class="form-group text-center">-->
<!--                                            <b>-->
<!--                                                Roles-->
<!--                                            </b>-->

<!--                                            <select name="roleIdToUpdate" multiple-->
<!--                                                    class="form-control"-->
<!--                                                    style="height: 60px">-->
<!--                                                <option class="active" value="1">USER</option>-->
<!--                                                <option value="2">ADMIN</option>-->
<!--                                            </select>-->

<!--                                        </div>-->


                                        <!--                            Update USER FORM END-->
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <!--                    Add user form with rows end-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">Edit</button>

                            </div>
                        </form>
                    </div>
                </div>


            </div>
    <!--    MAIN BAR END-->


</div>
<!--MAIN GRID END-->
<!--</div>-->
<!--GENERAL GRID END-->

<script type="text/javascript" src="/js/adminPage.js" ></script>


</body>
</html>