<!DOCTYPE html>
<html lang="en">
<head>
    <title>TEST</title>
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
</head>
<body>

<!--<input type="text" id="name" class="i-1">-->
<!--<input type="text" id="name2" class="i-1">-->
<!--<input type="text" class="i-1">-->
<!--<input type="text" class="i-1">-->
<!--<input type="text" class="i-1">-->

<!--<button class="еееее" id="testId1">Push</button>-->

<!--<h1 class='ggg'>fffffffffffffffff</h1>-->


<form  method="post">
    <!--                                NAME INPUT-->
    <div >
        <label for="nameInput">Name</label>
        <input class="form-control" id="nameInput" required type="text"
        />
    </div>

    <div >
        <label for="lastNameInput">Last name</label>
        <input class="form-control" id="lastNameInput" required type="text" req
        />
    </div>

    <div >
        <label for="ageInput">Age</label>
        <input type="number" class="form-control" id="ageInput"
        />

    </div>

    <div class="form-group text-center">


        <label for="emailInput">Email</label>
        <input class="form-control" id="emailInput" required type="email"
        />
    </div>

    <div class="form-group text-center">


        <label for="passwordInput">Password</label>
        <input class="form-control" id="passwordInput" required type="password"
        />
    </div>

    <div>

        <label for="rolesSelectorInput">Roles</label>

    <select name="roleId" multiple class="form-control"  id="rolesSelectorInput" style="height: 60px">
        <option class="active" value="1">USER</option>
        <option value="2">ADMIN</option>
    </select>
    </div>


    <div>
        <button  id="addUserSubmitButton" >Add user</button>

    </div>
</form>

<script src="/js/testPage.js"></script>
</body>
</html>